<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="apple-touch-icon" sizes="180x180" href="../fav-icon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../fav-icon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../fav-icon/favicon-16x16.png">
<link rel="manifest" href="../fav-icon/site.webmanifest">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400&family=Lobster&family=Montserrat:wght@100;200;300;400;500;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="home-container">
      <h1 class="parent-title"><%= title %></h1>
      <a class="add-message" href="/new">Add New Message</a>
      <div class="message">
      <% messages.forEach(message => { %>
           <div class="single-message">
              <p class="sender"><%= message.user %></p>
              <p class="text"><%= message.text %></p>
              <p class="time"><%= message.added.toUTCString()%></p>
           </div>
      <% }) %>       

      </div>
  </div>
  </body>
</html>
